@import 'nav.css';
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Isso é o css da Header*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 54px;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    text-decoration: underline;
    color: #CCB43E
}
button {
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(255, 255, 255, 0.8);
}
#nav-tools{
    display: flex;
    flex-direction: row;
 
}
#nav-tools a {
    display: flex;
    place-items: center;
    color: #fff;
}
#nav-tools span {
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
    bottom: 8px;
    right: 10px;
}
#wishlist-link {
    margin-left: 15px;
}
.cta {
    margin-right: 10px;
}

/* Isso é o css da página*/

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container ::-webkit-scrollbar {
    display: none;

}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}
.Discount-tag{
    position: absolute;
    background:#fff ;
    padding:5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn :hover{
    background: #efefef;
}
.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5s;
    text-transform: capitalize;
    margin: 5px 0;
}
.prince{
    font-weight: 900;
    font-size: 20px;

}
.actual-prince{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}
.pre-bnt, .nxt-bnt {
    border:none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255, 0)0% #fff 100%);
    cursor: pointer;
    z-index: 8;
}
.pre-bnt{
    left: 0;
    transform: rotate(180deg );
}
.nxt-bnt{
    right: 0;
}
.pre-bnt img , .nxt-bnt img {
    opacity:0.2;
}
.pre-bnt:hover img, .nxt-bnt img {
    opacity: 1;
}
 



/* Isso é o Footer */
footer{
    background-color: black;
    position: relative;
    width: 100%;
    min-height: 250px;
    padding: 3rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.container-footer {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom: 10px;
}
.col h3 {
    color: #CCB43E;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: #CCB43E;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col h3:hover::after{
    width: 30px;
}
.col .social a i{
    color: #CCB43E;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}
.col .links a {
    display: block;
    text-decoration: none;
    color: #f2f2f2f2;
    margin-bottom: 5px;
    position:relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #CCB43E;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color: #CCB43E;
}
.col .contact-detalis{
    display: inline-flex;
    justify-content: space-between;
}
.col .concact-details i{
    margin-right: 15px;
}

