*{
    padding: 0;
    margin: 0;
}
.homepage{
    background-color: black;
    height: 140px;
    flex-shrink: 0;

}
.imagemhome{
    height: 137px;
    width: 180px;
    flex-shrink: 0;
    align-self: stretch;
}
.textohome{
    display: flex;
    justify-content:space-between;
    align-items:center;
    color: white;
    width: 42%;

    h4{
        margin-bottom: 10%;
        font-weight: 100;
    }
}